<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <!-- ------------------------------ style css ------------------------------ -->
    <%- include('partials/head') %>
  </head>
  <body>
    <!-- ------------------------------- navbar -------------------------------- -->
    <%- include('partials/navbar') %>
    <!-- ------------------------------- content ------------------------------- -->
    <%- include('partials/content') %>
    <%- include('partials/secondContent') %>
    <!-- ------------------------------- footer -------------------------------- -->
    <%- include('partials/footer') %>
    <!-- ------------------------------- scripts ------------------------------- -->
    <%- include('partials/script') %>
  </body>
</html>
